/* Font classes for prose variable font */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/style/IBMPlexSans-VF.ttf') format('truetype');
  font-weight: 100 700;
  font-stretch: 75% 100%;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/style/IBMPlexSans-VF-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 700;
  font-stretch: 75% 100%;
  font-display: swap;
}

/* Monospaced heading/code font */
@font-face {
   font-family: "Pragmasevka";
   src: url("/style/small-pragmasevka-webfont.woff2") format("woff2");
}

/* 
 * Typography sizing and weighting.
 *
 * We use a major third type scale and try optimise for readability
 * and recognisability. IBM Plex Sans was chosen for it large x-height
 * of ~70% which matches my guesstimate of pragmasevka's at ~73-75%.
 * This is consistent and aids in readability, and the letter forms
 * feature similar motifs in shape but remain distinct enough to
 * not be uncannily similar. Personally I think they complement
 * eachother, however I am considering Inter too.
 */
body {
	font-family: 'IBM Plex Sans', 'Inter', sans;
	font-weight: 400; /* Regular for prose */
	font-size: 1rem; /* 16px */
}

h1, h2, h3, th {
	font-family: 'Pragmasevka', monospace;
	font-weight: 600; /* medium weight */
}

h1 {
	font-size: 2.442rem; /* ~39px */
}

h2 {
	font-size: 1.954rem; /* ~31px */
}

small {
	font-weight: 600; /* Medium to heavy to improve legibility */
	font-size: 0.800rem; /* ~13px */
}

code,
.code,
.navbar {
	font-family: 'Pragmasevka', monospace;
	font-weight: 400;
}
