@font-face {
   font-family: "Pragmasevka";
   src: url("/small-pragmasevka-webfont.woff2") format("woff2");
}

:root {
   --indent:   15px;
   --reg-size: 1.15em;
   --h2-size:  1.35em;

   --nav-size: 1.25em;
}

body {
   font-family: "Pragmasevka";
   background-color: var(--base);
   color: var(--text);
   max-width: 110ch;

   margin: 1em auto;
}

h2 {
   padding-left: 0;
   padding-top: 10px;
   margin-bottom: 2px;
   font-size: var(--h2-size);
}

p {
   font-size: var(--reg-size);
   margin-top: 8px;
   margin-bottom: 12px;
   margin-left: var(--indent);
   padding-left: 1rem;
}




/* colours */
i { color: var(--neg); }
b { color: var(--pos); }
s { color: var(--hint); }
c {
   border-radius: 3px;
   padding: 2px;
   background-color: var(--base-acc);
}

code {
   display: flex;
}

code > pre {
   flex-grow: 1;
   font-size: var(--reg-size);
   display: inline-block;
   padding: 1rem;
   background-color: var(--base-acc);
   border-radius: 0.75em;
   box-shadow: 0.25em 0.15em 1.25em -0.25em var(--base-acc);
}



/* classes */
.center {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
}

.block {
   margin-bottom: 12px;
}

.block p {
   margin: 0;
   margin-left: var(--indent);
   margin-bottom: 5px;
}

.box {
   display: inline-flex;
   align-items: center;
   padding: 0.65rem 1rem;
   max-width: 90%;
   border: 1px solid var(--pos-acc);
   transition: background-color 0.2s ease;
   transition: border-color 0.2s ease;
}

.box:hover {
   background-color: var(--base-acc);
   border-color: var(--pos);
}

.quote {
   margin-top: 10px;
   margin-bottom: 15px;
   padding-left: 7px;
   margin-left: 3px;
   border-left: 1px solid var(--text);
}

.nopad {
   margin-top: 0;
   padding-top: 0;
}

.footer {
   height: 15px; 
   padding-top: 15px;
}

.footer p {
   font-size: 0.85em
}


/* misc */
header {
   padding-bottom: 15px;
}

header > nav {
   display: flex;
   align-items: center;
   margin-left: 3rem;
   margin-top: 22px;
   gap: 1.5rem;
   font-size: var(--nav-size);
   padding-bottom: 25px;
}

a {
   text-decoration: none;
   font-weight: bold;
   color: var(--pos-acc);

   border-bottom: 1px dashed transparent;
   transition: border-color 0.2s ease;
}

a:hover {
   border-color: var(--pos-acc);
}
